# Secrets
.env
*.pem
*.key
secrets/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.pytest_cache/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.tfvars
!*.tfvars.example

# Lambda build artifacts
src/ingestion/lambda_handler.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
